<div class="row bg-dark" style="height: auto; border-top: 2px solid yellow;"> <!-- FOOTER div -->
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3><u>Contact Us</u></h3>
        <p>Email:<br><i class="fa fa-envelope"></i><a href="">philemonacheampong@yahoo.com</a></p>
        <p>Phone:<br><a href="#">+233 272790174/+233 200812752</a></p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"  style="">
      <h3><u>Follow Us</u></h3>
        <p><i class="fa fa-facebook-square" style="font-size:36px; color: blue "></i><a href="#">Facebook.com</a></p>
        <p><i class="fa fa-instagram" style="font-size:36px; color:gold;"></i><a href="#">Instagram</a></p>
        <p><i class="fa fa-youtube-play" style="font-size:36px; color: red;"></i><a href="#">Youtube</a></p>
     </div>
 </div>