<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
	<a class="navbar-brand" href="">
		<img src="/static/img/logo.jpg" alt="logo" style="width: 100px;">
	</a>
		<button type="botton" class="navbar-toggler" data-toggle="collapse" data-target="#collapseitem">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="collapseitem">
		<ul class="nav navbar-nav">
			<li class="navbar-item">
				<a class="nav-link" href="/"><i class="fa fa-home" style="font-size:36px"></i></a>
			</li>
			<li class="navbar-item">
				<a class="nav-link" href="/about">ABOUT</a>
			</li>
            <li class="navbar-item">
            	<a class="nav-link" href="/article">ARTICLES</a>
            </li>
			<li class="navbar-item">
            	<a class="nav-link" href="/news">NEWS</a>
            </li>
		</ul>
	</div>
</nav>